POSTGRES_DB=tianho
POSTGRES_USER=tianho
POSTGRES_PASSWORD=replace-with-a-local-password
POSTGRES_PORT=5432
OBJECT_STORAGE_ACCESS_KEY=replace-with-a-local-access-key
OBJECT_STORAGE_SECRET_KEY=replace-with-a-local-secret-key
OBJECT_STORAGE_BUCKET=tianho-media
OBJECT_STORAGE_PORT=9000
OBJECT_STORAGE_CONSOLE_PORT=9001
MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025
